<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Key Vector</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="app">
    <header id="menu-header">
      <div id="burger">&#9776;</div>
      <!-- <img src="/static/images/logo.png" alt="Key Vector Logo" id="logo" /> -->
      <div id="site-title">Key Vector</div>
    </header>


    <select id="mode">
      <option value="character">Alphabet</option>
      <option value="word">Word</option>
      <option value="sentence">Sentence</option>
      <option value="paragraph">Paragraph</option>
    </select>

    <button onclick="startPractice()">Play at 10 WPM</button>
    <button onclick="stopPractice()">Stop</button>

    <div id="boxes"></div>
    <!-- <input type="text" id="userInput" oninput="checkInput()" placeholder="Type your answer here"/> -->

    <div class="morse-chart-container">
    <button id="toggle-chart">📡 Show Morse Code Chart</button>
    <div id="morse-chart" class="collapsed">
      <button id="layout-toggle" class="toggle-pill">A–Z</button>
      <div class="morse-grid" id="morse-grid"></div>
    </div>
</div>
</div>

  <script src="/static/script.js"></script>
</body>
</html>
